body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #343434; */
  color: rgb(255, 255, 255);
  align-items: center;
  /* background-image: "backGroundImg.jpg"; */
}
/* 
code {
  font-family: 'Edu NSW ACT Foundation', cursive;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
/* }  */
DrawerList a {
  font-family: 'Amatic SC', cursive;
}

.mainPage{
  text-align: center;
  width:auto;
  height: 100%;

  background: url("./assets/backGroundImg.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.savingChoice{
  text-align: center;
  width:auto;
  height: 100%;

  background: url("./assets/backGroundImg.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.choiceBlock{
  padding-bottom: 61px;
}
.choiceBlock h2{
  padding-top: 150px;
}
DrawerList {
  text-align: center;
}

/* StertNewGame{
  padding: 10px;
} */

h1{
  margin: 0;
  padding-top: 100px;
  font-weight: normal;
}
h2{
  padding-top: 100px;
  font-weight: normal;
}
p{
  padding-bottom: 100px;
  height: 200px;
}

.intro{
  padding-bottom: 0px;
  margin-bottom: 0px;
  width:auto;
  /* height: 100%; */
  height: 715px; 
  background: url("./assets/intro.jpg") 100% 100% no-repeat;
  background-size: cover;
}

.forest{
  position: absolute;
  left: 0;
  width:2400px;
  /* height: 100%; */
  height: 715px; 
  background: url("./assets/forest.png") 100% 100% no-repeat;
  background-size: cover;
  transition: transform 0.5s ease-out;
}
.forest .grass{
  background: url("./assets/grass.png") 100% 100% no-repeat;
}

.brevno2{
  position: absolute;
  width: 240px;
  left: 1940px;
  top: 125px;
}

.forest2{
  position: absolute;
  left: 0;
  width:2400px;
  /* height: 100%; */
  height: 715px; 
  background: url("./assets/forest22.png") 100% 100% no-repeat;
  background-size: cover;
  transition: transform 0.5s ease-out;
}
.forest2 .grass{
  background: url("./assets/grass22.png") 100% 100% no-repeat;
}
.cave{
  position: absolute;
  left: 0;
  width:2400px;
  /* height: 100%; */
  height: 715px; 
  background: url("./assets/location3.png") 100% 100% no-repeat;
  background-size: cover;
  transition: transform 0.5s ease-out;
}
.cave .grass{
  background: url("./assets/grass3.png") 100% 100% no-repeat;
}

.container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.map{
  width:auto;
  /* height: 100%; */
  height: 715px; 
  background: url("./assets/mapImg.jpeg");
  background-size: cover;
}

/* .screen{
  &::-webkit-scrollbar {
    display: none;
  }
} */
/* .move {
  animation: move-animation 0.5s ease-in-out;
} */

/* @keyframes move-animation {
  0% {
    left: prevZ;
  }
  100% {
    left: z;
  } */
/* } */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes fallAnimation {
  0% {
    top: 125px;
    left: 1995px;
    /* transform: skewY(0deg); */
  }
  50%{

  }
  /* 75%{
    rotate: 75deg;
    left: 1995px;
    top:200px;
  } */
  100% {
    top: 163px;
    left: 1760px;
    rotate: 90deg;
    /* transform: skewY(90deg); */
    /* transform: rotate(45deg); */
  }
}
.animate{
  animation-name: fallAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}
.map{
  display: block;
}